body {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
}
a{
	color: #000;
}
.container {
  background: #ddd;
}

#totalKill {
  padding: 23px 0 20px 0;
  font: 26px 'Titillium Web', arial, sans-serif;
  background: #fafafa;
  color: #5E545D;
  text-align: center;
}

#totalKill b {
  font-size: 35px;
}

#slider, #heatmap {
  width: 100%;
}

.slider-bg {
  background: #f1f1f1;
}

#map {
  position: relative; 
  width: 100%; 
  padding-bottom: 40%;
  height: 0;
  overflow: hidden
}

.axis text {
  font: 15px sans-serif;
}

.axis path,
  /*display: none;*/

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdge;
}

div#country_list{
  background-color: yellow;
}

.grid-background {
  fill: #ddd;
}

.grid line, .grid path {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.grid .minor.tick line {
  stroke-opacity: .5;
}

.brush .extent {
  stroke: none;
  fill: #000;
  fill-opacity: .1;
  shape-rendering: crispEdges;
}

#cite {
	font-size: 8px;
	text-align:right;
}

footer{
  margin: 20px auto 20px auto;
  width: 200px;
}
