#slider-bg {
  width: 100%;
}

#slider {
}

.axis text {
  font: 15px sans-serif;
}

.axis path {
  display: none;
} 

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdge;
}

div#country_list{
	background-color: yellow;
}

.grid-background {
  fill: #ddd;
}

.grid line,
.grid path {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.grid .minor.tick line {
  stroke-opacity: .5;
}

.brush .extent {
  stroke: #000;
  fill-opacity: .25;
  shape-rendering: crispEdges;
}

footer .container {
  margin: 20px auto 20px auto;
  width: 200px;
}
