#slider-bg {
  width: 100%;
}

#slider {
}

.axis text {
  font: 15px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdge;
}

footer .container {
  margin: 20px auto 20px auto;
  width: 200px;
