body {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
}

.container {
  background: #ddd;
}

#totalKill {
  padding: 23px 0 20px 0;
  font: 26px 'Titillium Web', arial, sans-serif;
  background: #fafafa;
  color: #5E545D;
  text-align: center;
}

#totalKill b {
  font-size: 35px;
}

#slider, #heatmap {
  width: 100%;
}

.axis text {
  font: 15px sans-serif;
}

.axis path {
  display: none;
} 

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdge;
}

div#country_list{
  background-color: yellow;
}

.grid-background {
  fill: #ddd;
}

.grid line,
.grid path {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.grid .minor.tick line {
  stroke-opacity: .5;
}

.brush .extent {
  stroke: #000;
  fill-opacity: .25;
  shape-rendering: crispEdges;
}

footer {
  padding-top: 20px;
}

footer p {
  text-align: center;
}
